<div class="header-container">
  <app-header (activeButton)="setActiveV($event)"></app-header>
</div>
<div class="flex-container">
  <div class="convertion_type">
      <app-latest *ngIf="activeV === 'latest'"></app-latest>
      <app-date-range *ngIf="activeV === 'history'"></app-date-range>
  </div>
  <div class="convertion_result">
    <ng-container *ngrxLet="convStore.vm$; let v; let error = $error">
      <ng-container *ngIf="v.currenctBaseCurrency !== undefined">
        <app-data-view [dataView]="v"></app-data-view>
      </ng-container>
    </ng-container>
  </div>
</div>

<router-outlet></router-outlet>
