/* You can add global styles to this file, and also import other style files */

body{
  background-color: black;
  color:yellow;

}

.formHolder {
  margin-top: 5%;
}

.input_style{
  padding-right:15px
}
